@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

body {
  font-family: "Roboto Condensed", sans-serif;
}

.content {
  width: 60%;
  margin: auto;
  min-width: 500px;
}

.text-center {
  text-align: center;
}

.centered {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 5rem;
}

.login-submit-btn,
.register-submit-btn {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  background-color: #0cab11;
  border: 1px solid #0cab11;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}

.register-submit-btn:hover {
  background-color: #fff;
  color: #0cab11;
  border: 1px solid #0cab11;
  box-sizing: border-box;
}

#skill-inputs-wrapper label {
  display: block;
  margin-bottom: 0.3rem;
}

.login-input,
.register-input {
  display: block;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #222;
  font-size: 1rem;
  background: #fbfbfb61;
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.login-label,
.register-label {
  display: block;
  font-size: 1rem;
}

.form-group,
#form-group {
  margin-bottom: 1.5rem;
}

.login-form,
.register-form {
  width: 90%;
  margin: auto;
  max-width: 370px;
  padding: 3rem;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.75rem;
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-top: 0;
}

#take-test-btn {
  background-color: #0cab11;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: solid #0cab11;
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
}

#take-test-btn:hover {
  background-color: #fff;
  color: #0cab11;
  border: 1px solid #0cab11;
  box-sizing: border-box;
}

/* Header styling */

header {
  width: 100%;
  position: sticky;
  height: 60px;
  box-shadow: 0px 5px 10px 0px #aaa;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  order: 2;
}

header ul li {
  margin-left: 1rem;
}

header i {
  color: #0cab11;
  margin-left: 0.5rem;
}

header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(70, 69, 69);
}

header a:hover {
  color: rgb(7, 7, 7);
}

.logout-btn {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

.container {
  width: 90%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.under-form-navigate {
  margin-top: 2rem;
}

.under-form-navigate .navigate-link {
  margin-left: 0.3rem;
}

/* Test Report styling */

.test-report-bg {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.test-report-container {
  min-height: 100vh;
  width: 60%;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
}

#download-link {
  border-radius: 0.4rem;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  background-color: #0cab11;
  color: #fff;
}

#download-link:hover {
  background-color: #fff;
  color: #0cab11;
  border: 1px solid #0cab11;
  box-sizing: border-box;
}

.test-again {
  display: block;
  margin: 2rem auto;
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: #0cab11;
  color: #fff;
  cursor: pointer;
}

.test-again:hover {
  background-color: #fff;
  color: #0cab11;
  border: 1px solid #0cab11;
}

.test-report-container .summary {
  width: fit-content;
  margin: 1rem auto;
}

.test-report-container .summary .row {
  display: flex;
}

.test-report-container .summary .label {
  font-weight: bold;
  margin-right: 1rem;
}

/* --- Test report end --- */

/* Take Test styling */

#test-container #question-area {
  display: flex;
  width: 40%;
  margin: 0 auto;
}

#test-container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigate-ques {
  align-self: center;
  height: max-content;
}

#question-wrapper {
  width: 90%;
  margin: auto;
  max-width: 370px;
  padding: 3rem;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.75rem;
  height: 180px;
}

#question {
  font-weight: 600;
}

#question-wrapper ul {
  list-style: none;
  padding-inline-start: 0px;
}

#question-wrapper input {
  margin-right: 0.5rem;
}

#question-wrapper ul li {
  margin-bottom: 0.5rem;
}

.navigate-ques {
  background: transparent;
  border: none;
  font-size: 2rem;
}

.navigate-ques:hover:enabled {
  color: #0cab11;
}

#timer-area {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.submit-test-btn {
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: #0cab11;
  border: 1px solid #0cab11;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}

.submit-test-btn:hover {
  background-color: #fff;
  color: #0cab11;
}

.attempt-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  margin: 2rem auto;
}

.attempt-summary .navigate-ques-answered {
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: #0cab11;
  color: #fff;
  cursor: pointer;
}

.attempt-summary .navigate-ques-current {
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: #2762b0;
  color: #fff;
  cursor: pointer;
}

.attempt-summary .navigate-ques-seen {
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: #e3e31e;
  color: #fff;
  cursor: pointer;
}

.attempt-summary .navigate-ques-unseen {
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: rgb(189, 187, 187);
  color: #fff;
  cursor: pointer;
}
